[Unit]
Description=Voicecoin Wallet
After=network.target

[Service]
Type=forking
User=emc
ExecStart=/usr/bin/voicecoind -daemon -datadir=/var/lib/emc/.voicecoin -conf=/var/lib/emc/.voicecoin/voicecoin.conf -pid=/var/lib/emc/.voicecoin/voicecoind.pid
ExecStop=/usr/bin/voicecoin-cli -datadir=/var/lib/emc/.voicecoin stop
PIDFile=/var/lib/emc/.voicecoin/voicecoind.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
